{% load static %}
<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'provider_system:home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" width="30" height="30" /></a>
      <a class="navbar-brand" href="{% url 'provider_system:home' %}">U-Bird Eats</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if provider %}
            <li class="nav-item">
              {% if page_name == 'home' %}
                <a class="nav-link active" href="{% url 'provider_system:home' %}">商家管理</a>
              {% else %}
                <a class="nav-link" href="{% url 'provider_system:home' %}">商家管理</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if page_name == 'orders' %}
                <a class="nav-link active" href="{% url 'provider_system:orders_manage' %}">訂單管理</a>
              {% else %}
                <a class="nav-link" href="{% url 'provider_system:orders_manage' %}">訂單管理</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if page_name == 'income' %}
                <a class="nav-link active" href="{% url 'provider_system:income' %}">查看收入</a>
              {% else %}
                <a class="nav-link" href="{% url 'provider_system:income' %}">查看收入</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'provider_system:logout' %}">登出</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'provider_system:login' %}">登入</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'provider_system:register' %}">註冊</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>

<br /><br /><br />
