{% extends 'base.html' %}
{% block title %}
  訂單管理 -
{% endblock %}
{% block content %}
  {% load static %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} shadow-sm mx-auto text-center mb-4 fade show">{{ message }}</div>
          {% endfor %}
        {% endif %}
        <div class="card shadow-lg mb-5">
          <div class="card-body p-5">
            <h1 class="display-4 text-center fw-bold mb-4">{{ provider.shop_name }}</h1>
            <h2 class="text-center">收入</h2>

            <div class="card bg-light mb-4 w-50 mx-auto">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <h4 class="mb-0">總收入：</h4>
                      <div class="text-success h4 mb-0">{{ total_income }}</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <h4 class="mb-0">訂單數量：</h4>
                      <div class="text-primary h4 mb-0">{{ total_orders }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <h3 class="card-title h4 mb-0">已完成訂單</h3>
                </div>

                <div class="table-responsive">
                  <table class="table table-hover align-middle">
                    <thead class="table-light">
                      <tr class="text-center">
                        <th style="width: 15%;">編號</th>
                        <th style="width: 20%;">下單時間</th>
                        <th style="width: 20%;">實收金額</th>
                        <th style="width: 15%;">查看</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order in orders %}
                        <tr class="text-center">
                          <td class="fw-bold">{{ order.id }}</td>
                          <td>{{ order.created_at|date:'Y/m/d H:i' }}</td>
                          <td>{{ order.provider_fee }}</td>
                          <td class="">
                            <a href="{% url 'provider_system:order_detail' order.id %}"><i class="bi bi-eye me-1"></i></a>
                          </td>
                        </tr>
                      {% empty %}
                        <tr>
                          <td colspan="5" class="text-center">目前沒有訂單</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
