{% extends 'base.html' %}
{% block title %}
  新增商品 -
{% endblock %}
{% block content %}
  <div class="login-container p-4">
    <h1 class="display-1 text-center"><strong>{{ provider.shop_name }}</strong></h1>
    <h2 class="text-center">新增商品</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} shadow-sm mx-auto text-center mb-4 fade show">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group mb-3 w-50 jusitfy-content-center mx-auto">
        <label for="shop_name">商品名稱:</label>
        <input type="text" id="product_name" name="product_name" class="form-control" autocomplete="off" required />
      </div>
      <div class="form-group mb-3 w-50 jusitfy-content-center mx-auto">
        <label for="price">價錢:</label>
        <input type="number" id="price" name="price" class="form-control" autocomplete="off" required />
      </div>
      <div class="form-group mb-3 w-50 jusitfy-content-center mx-auto">
        <label for="description">商品描述:</label>
        <textarea id="description" name="description" class="form-control" rows="3" required></textarea>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-success">修改</button>
      </div>
    </form>
  </div>
{% endblock %}
